* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #201F2A;
}

div {
  color: white;
}

.navigation {
  background-color: white;

  border-radius: 5px;

  width: 50px;
  height: 99vh;

  position: fixed;
  margin: 7px 0px 0px 7px;

  inset: 20px 0px 20px 20px;
  transition: 0.5s;

  box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

.navigation.open {
  width: 250px;
}

.navigation .menu {
  position: absolute;

  top: 0;
  left: 0;
  
  width: 100%;
  height: 50px;
  
  border-bottom: 1px solid rgba(0,0,0,0.25);
  
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0px 20px;
}

.navigation .menu::before {
  content: '';
  background-color: #333;
  
  position: absolute;
  
  width: 30px; 
  height: 2px;
  
  transform: translateY(-8px);
  transition: 0.5s;
}
.navigation .menu::after {
  content: '';
  background-color: #333;

  position: absolute;

  width: 30px; 
  height: 2px;

  transform: translateY(8px);
  transition: 0.5s;

  box-shadow: 0px -8px 0px #333;
}

.navigation.open .menu::after{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0px 0px 0px #333;
}

.navigation.open .menu::before {
  transform: translateY(0px) rotate(45deg);
}