* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #201F2A;
}

div {
  color: white;
}

.navegation {
  background-color: white;

  width: 50px;
  height: 99vh;

  margin: 7px 0px 0px 7px;
}