* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #201F2A;
}

div {
  color: white;
}

.navegation {
  background-color: white;

  width: 50px;
  height: 99vh;

  position: fixed;
  margin: 7px 0px 0px 7px;
}

.navegation.open {
  width: 270px;
}

.menu {
  width: 100%;
  height: 50px;

  cursor: pointer;
  border: #201F2A 1px solid;
}